html {
  font-size: 16px;
}

:root {
  --arrow-color: rgba(255, 255, 255, 0.7);
  --dot-color: rgba(255, 255, 255, 0.7);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider.is-vertical .slider__inner {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider.is-vertical .slider__dots {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  top: 0;
  bottom: 0;
  width: auto;
  right: 2%;
  left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider.is-vertical .slider__arrows {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider.is-vertical .slider__arrows .slider__arrow--prev {
  left: 0;
}

.slider.is-vertical .slider__arrows .slider__arrow--next {
  right: 0;
}

.slider.is-vertical .slider__arrows .slider__chevron-icon {
  left: 50%;
}

.slider.is-vertical .slider__arrows .slider__chevron-icon--prev {
  top: 58%;
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
          transform: translate(-50%, -50%) rotate(225deg);
}

.slider.is-vertical .slider__arrows .slider__chevron-icon--next {
  bottom: 58%;
  right: auto;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.slider__inner {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.slider__inner.no-transition {
  -webkit-transition: none;
  transition: none;
}

.slider__slide {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.slider__slide--0 {
  background-color: #f783ac;
}

.slider__slide--1 {
  background-color: #9775fa;
}

.slider__slide--2 {
  background-color: #4dabf7;
}

.slider__slide--3 {
  background-color: #20c997;
}

.slider__slide--4 {
  background-color: #ffa94d;
}

.slider__arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__arrow {
  display: block;
  font-size: 1rem;
  padding: 3.5%;
  width: 7%;
  z-index: 99;
  position: relative;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.slider__arrow--prev {
  left: 2%;
}

.slider__arrow--next {
  right: 2%;
}

.slider__arrow:active, .slider__arrow:focus {
  outline: none;
}

.slider__arrow:hover .slider__chevron-icon {
  border-color: rgba(255, 255, 255, 0.8);
}

.slider__arrow:active .slider__chevron-icon {
  border-color: transparent;
}

.slider__chevron-icon {
  pointer-events: none;
  position: absolute;
  display: block;
  border: 0.4em solid rgba(255, 255, 255, 0.7);
  width: 1rem;
  height: 1rem;
  top: 50%;
  border-left: none;
  border-top: none;
}

.slider__chevron-icon--prev {
  left: 58%;
  -webkit-transform: translate(-50%, -50%) rotate(-225deg);
          transform: translate(-50%, -50%) rotate(-225deg);
}

.slider__chevron-icon--next {
  right: 58%;
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
          transform: translate(50%, -50%) rotate(-45deg);
}

.slider__dots {
  position: absolute;
  bottom: 5%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  list-style: none;
  z-index: 99;
}

.slider__dot {
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0.25rem;
  cursor: pointer;
}

.slider__dot.is-active {
  background-color: rgba(255, 255, 255, 0.85);
}

.slider__dot:hover {
  background-color: #fff;
}
/*# sourceMappingURL=styles.css.map */